extends ../layouts/common
block content 
  h1 Change cover for #{book.title}
  if errors
    each error in errors
      .alert.alert-danger(role='alert')=error
  form(action='/books/update/' + book.id + "/cover", method="post", enctype='multipart/form-data')
    .form-group
      label(for='Avatar') Cover:
      input#Avatar.form-control(type="file", name="cover")
      button.btn.btn-primary Change