extends ./layouts/common
block content 
  h1 Hello
  .p
    a.badge.badge-primary(href="/books") Books
  .p
    a.badge.badge-primary(href="/auth/signUp") Sign up
  .p
    a.badge.badge-primary(href="/users") Login